In [13]:
x = [ [5,2,3], [10,8,9] ] 
#Change the value 10 in x to 15. Once you're done, x should now be [ [5,2,3], [15,8,9] ].
x[1][0]=15
students = [
     {'first_name':  'Michael', 'last_name' : 'Jordan'},
     {'first_name' : 'John', 'last_name' : 'Rosales'}
]
#Change the last_name of the first student from 'Jordan' to 'Bryant'
students[0]['last_name']='Bryant'

sports_directory = {
    'basketball' : ['Kobe', 'Jordan', 'James', 'Curry'],
    'soccer' : ['Messi', 'Ronaldo', 'Rooney']
}
#in the sports_directory, change 'Messi' to 'Andres'
sports_directory['soccer'][0]='Andres'

z = [ {'x': 10, 'y': 20} ]
#Change the value 20 in z to 30
z[0]['y']=30

#to check
print(x)
print(students)
print(sports_directory)
print(z)

[[5, 2, 3], [15, 8, 9]]
[{'first_name': 'Michael', 'last_name': 'Bryant'}, {'first_name': 'John', 'last_name': 'Rosales'}]
{'basketball': ['Kobe', 'Jordan', 'James', 'Curry'], 'soccer': ['Andres', 'Ronaldo', 'Rooney']}
[{'x': 10, 'y': 30}]

In [35]:
students = [
         {'first_name':  'Michael', 'last_name' : 'Jordan'},
         {'first_name' : 'John', 'last_name' : 'Rosales'},
         {'first_name' : 'Mark', 'last_name' : 'Guillen'},
         {'first_name' : 'KB', 'last_name' : 'Tonel'}
    ]
def iterateDictionary(student_lis):
    for stu in student_lis:
        for key,value in stu.items(): 
            print('first_ name - {}'.format(value))
iterateDictionary(students) 

def iterateDictionary2(key,student_list):
    for stu in student_list:
        for key,value in  stu.items(): 
            print(value)

    

iterateDictionary2('first_name', students)

first_ name - Michael
first_ name - Jordan
first_ name - John
first_ name - Rosales
first_ name - Mark
first_ name - Guillen
first_ name - KB
first_ name - Tonel
Michael
Jordan
John
Rosales
Mark
Guillen
KB
Tonel